<h1>About</h1>
<p>I am currently a student at the NYC Web Development Fellowship at the Flatiron School in Brooklyn. Between graduating from Wellesley College in 2012 and beginning my formal coding education, I had a series of eight different jobs. I live in Bed Stuy with my two best friends from college and our two cats.</p>
<ul>
<li><a href="katepdonahue.tumblr.com">Blog</a></li>
<li><a href="https://github.com/katepdonahue">Github</a></li>
<li><a href="www.linkedin.com/pub/kate-donahue/70/29b/588/
">Linkedin</a></li>
</ul>