<h1>About</h1>
<p>I am currently a student at the NYC Web Development Fellowship at the Flatiron School in Brooklyn. Between graduating from Wellesley College in 2012 and beginning my formal coding education, I have lived in 4 different apartments and had a series of eight different jobs. Now I live in Bed Stuy with my two best friends from college, any other friends who happens to be staying with us, and our two cats.</p>
<ul>
<li><a href="http://katepdonahue.tumblr.com/" target="_blank">Blog</a></li>
<li><a href="https://github.com/katepdonahue" target="_blank">Github</a></li>
<li><a href="https://www.linkedin.com/pub/kate-donahue/70/29b/588/
" target="_blank">Linkedin</a></li>
<li><a href="mailto:katepdonahue@gmail.com">Email me</a></li>
</ul>
<a href="/">Home</a>