<h1>Projects</h1>
<ul>
<li><a href="http://afternoon-bayou-1379.herokuapp.com/" target="_blank">Playlister</a></li>
<li><a href="http://calm-oasis-9271.herokuapp.com/" target="_blank">Quiz</a></li>
<li><a href="http://comemyminions.herokuapp.com/" target="_blank">Game of Life</a></li>
</ul>
<a href="/">Home</a>