<h1>Projects</h1>
<ul>
	<li><a href="http://comemyminions.herokuapp.com/" target="_blank">Game of Life</a></li>
	<li><a href="http://dry-garden-7312.herokuapp.com/" target="_blank">Playlister</a></li>
	<li><a href="http://calm-oasis-9271.herokuapp.com/" target="_blank">Quiz</a></li>
	<li><a href="http://christianlassencompliment.herokuapp.com/" target="_blank">Complimenter</a></li>
	<li><a href="http://rockpaperramon.herokuapp.com/" target="_blank">Rock, Paper, Razor Ramon</a></li>

</ul>
<a href="/">Home</a>